<h1><%= @page.title %></h1>

<p> 
 <%= @page.body %>
</p>

<div id="comments">
  <h1>Comments</h1>
  <%= render partial: "comments/comment", collection: @post.comment, as: :comment%>
  <% end %>
</div>




<%= link_to 'Edit', edit_page_path(@page) %>


<%= link_to 'Delete', @page, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>